@font-face {
    font-family: 'Britannic';
    src: url('../fonts/Britannic Ultra.eot');
    src: local('☺'), url('../fonts/Britannic.woff') format('woff'),
         url('../fonts/Britannic.ttf') format('truetype'),
         url('../fonts/Britannic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Britannic';
    src: url('../fonts/Britannic Ultra.eot');
    src: local('☺'), url('../fonts/Britannic Medium.woff') format('woff'),
         url('../fonts/Britannic Medium.ttf') format('truetype'),
         url('../fonts/Britannic Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Britannic';
    src: url('../fonts/Britannic Bold.eot');
    src: local('☺'), url('../fonts/Britannic Bold.woff') format('woff'),
         url('../fonts/Britannic Bold.ttf') format('truetype'),
         url('../fonts/Britannic Bold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Britannic';
    src: url('../fonts/Britannic Ultra.eot');
    src: local('☺'), url('../fonts/Britannic Ultra.woff') format('woff'),
         url('../fonts/Britannic Ultra.ttf') format('truetype'),
         url('../fonts/Britannic Ultra.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

body {
    padding-top: 40px;
    font-size: 15px;
    font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section-default {
    margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
    /*color: #337ab7;*/
    color: #000000;
    font-weight: bold;
}

.row.row-boxed {
    border: solid black;
    padding-left: 15px;
    padding-right: 15px;
}

.row:not(.row-boxed) {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}

.container {
    margin-bottom: 10px;
}

.page-container {
    padding-left: 10px;
    padding-right: 10px;
}

.form-control.form-control-inline {
    display: inline-block;
}

.intro-column {
    padding-top: 20px;
    padding-bottom: 8px;
}

.clusters table tr.centroid,
.clusters table tr.centroid input {
    /*background-color: #d9edf7;*/
    background-color: #d5d5d5;
    font-weight: bold;
}

.tokenContainer .tokenDiv {
    float: left;
    display: inline-block;
    width: auto;
    margin-right: 10px;
    margin-bottom: 8px;
    border: 1px solid #e0e0e0;
}

table.clusterTable .td-form {
    padding: 0;
    height: 32px;
}

table.clusterTable .td-form > input {
    width: 100%;
    height: 32px;
    padding: 1px 7px;
    margin: 0;
    border: none;
    border-radius: 0;
    background: white;
}

table.tokenTable .td-form {
    padding: 0;
    /*height: 32px;*/
    min-width: 60px;
}

table.tokenTable .td-form > .inputToken,
table.tokenTable .td-form > select {
    min-width: 60px;
    height: 32px;
    padding: 1px 7px;
    margin: 0;
    border: none;
    border-radius: 0;
    background: white;
}

table.tokenTable .td-form > .inputToken {
    font-size: 18px;
}
table.tokenTable .td-form > select {
    font-size: 14px;
    height: 28px !important;
    color: #5e5e5e;
    /*min-width: 70px;*/
    width: 70px;
}
table.tokenTable .td-form > select.selectElem {
    /*min-width: 70px;*/
    width: 120px;
}



/*** Utils ***/
.no-mag-top {
    margin-top: 0 !important;
}
.no-mag-bot {
    margin-bottom: 0 !important;;
}
.no-pad-top {
    padding-top: 0 !important;;
}
.no-pad-bot {
    padding-bottom: 0 !important;;
}

/*** For Changed UI Design by SDK ***/
body {
    font-size: 16px;
}
.page-container {
    border: 1px solid #d9d9d9;
}
h2.h2-title {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
}
h2.h2-title strong {
    font-family: Britannic, Calibri, sans-serif;
    font-weight: 600;
    color: #0000ff;
    font-size: 38px;
}
h2.h2-title.page-title {
    padding-right: 280px;
}
.intro-column {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
}
.intro-column > p {
    text-align: center;
    font-weight: 600;
    line-height: 18px;
    padding: 2px 0 0 0;
}

.buttonsDiv {
    margin: 0 100px;
}
.btn {
    font-family: Britannic, Calibri, sans-serif;
    font-weight: 500;
    font-size: 18px;
}
.btn.btn-lg {
    border-color: #000000;
    border-radius: 20px;
    font-size: 20px;
    padding: 6px 10px;
}
.btn.btn-primary {
    background-color: #404040;
}
.btn.btn-primary:hover {
    background-color: #262626;
}
.btn.btn-primary[disabled] {
    background-color: #a6a6a6;
}
.btn.btn-primary[disabled]:hover {
    background-color: #a6a6a6;
}
.btn.btn-info {
    background-color: #7f7f7f;
}
.btn.btn-info:hover {
    background-color: #595959;
}
.btn.btn-info[disabled] {
    background-color: #a6a6a6;
}
.btn.btn-info[disabled]:hover {
    background-color: #a6a6a6;
}
.btn.btn-menu {
    font-family: Britannic, Calibri, sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding: 8px 16px 6px;
    color: #ffffff;
    background-color: #7f7f7f;
    border-color: #000000;
    border-radius: 0 !important;
}
.btn.btn-menu:hover {
    background-color: #595959;
}
.btn.btn-menu.selected {
    background-color: #404040;
}

.answerEvaluation .btn-eval {
    float: right;
    width: 40px;
    height: 40px;
    border: none;
    background: #ffffff;
    padding: 4px;
}
.answerEvaluation .btn-eval.btn-eval-good {
    background: url('../img/good_icon.png') no-repeat center;
    background-size: 32px auto;
}

.answerEvaluation .btn-eval.btn-eval-bad {
    background: url('../img/bad_icon.png') no-repeat center;
    background-size: 32px auto;
}

h4 {
    font-size: 20px;
}
.form-control {
    font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.container.container-sent-input > h4,
.container.convertedSentencesContainer > h4,
.container.answerContainer > h4 {
    width: 200px;
    background-color: #bfbfbf;
    color: #000000;
    font-weight: 700;
    padding: 6px 8px;
    text-align: center;
    border: 1px solid #7f7f7f;
    border-bottom: 0;
    margin-bottom: 0;
}
.container.container-sent-input .form-control,
.container.answerContainer .form-control{
    background-color: #f2f2f2;
    border: 1px solid #7f7f7f;
    border-radius: 0;
    /*font-size: 20px;*/
    font-size: 18px;
}
.container.container-sent-input textarea.form-control {
    max-width: 918px;
    font-size: 20px;
}
.container-sent-input-section > .input-label {
    display: inline-block;
    float: right;
    width: 120px;
    background-color: #bfbfbf;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    padding: 4px 8px;
    text-align: center;
    border: 1px solid #7f7f7f;
    border-right: 0;
    border-top: 0;
    margin-bottom: 0;
    height: 35px;
}
.container-sent-input-section > input.form-control {
    float: right;
    border-top: 0 !important;
    text-align: center;
    height: 35px;
}
.container.convertedSentencesContainer > .convertedSentencesDiv {
    background-color: #f2f2f2;
    border: 1px solid #7f7f7f;
    border-radius: 0;
}

.convertedSentencesDiv .convertedSentences {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.convertedSentences .tokensHeader {
    font-size: 18px;
}
.convertedSentences .tokenDiv {
    background-color: #ffffff;
}
table.tokenTable .td-form > .inputToken {
    font-size: 18px;
}
table.tokenTable .td-form > select {
    font-size: 16px;
}

.container.answerContainer .answerArea {
    background-color: #f2f2f2;
    border: 1px solid #7f7f7f;
    border-radius: 0;
    /*font-size: 20px;*/
    font-size: 18px;
    line-height: 36px;
    padding: 5px 10px;
}

.clusterForm h4 {
    font-size: 20px;
    font-weight: bold;
}
.btn.btn-cluster {
    background-color: #f2f2f2;
    border: 1px solid #7f7f7f;
    border-radius: 12px 20px 12px 20px;
    padding: 6px 12px;
    min-width: 140px;
    margin: 6px 4px;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.btn.btn-cluster:hover {
    background-color: #d9d9d9;
}
.btn.btn-cluster.selected {
    background-color: #bfbfbf;
}