{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="template of MIAAS">
    <meta name="author" content="Hanter Jung">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-origin/css/bootstrap.css' %}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css"
          href="{% static 'lib/bootstrap-origin/assets/css/ie10-viewport-bug-workaround.css' %}">

    <script src="{% static 'lib/bootstrap-origin/assets/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container page-container">
    <h2>eManual System</h2>
    <div class="row row-boxed">
        <div class="col-xs-12">
            <h3 >User Manual Q&A Service</h3>
        </div>
        <div class="col-xs-12 col-md-3 intro-column">
            <button class="btn btn-default btn-lg col-xs-12" id="btnConvertMenu" type="button" onclick="showConvert()">CONVERT</button>
            <p>Converting user manual into formal expressions.</p>
        </div>

        <div class="col-xs-12 col-md-3 intro-column">
            <button class="btn btn-default btn-lg col-xs-12" id="btnAnalyzeMenu" type="button" onclick="showCluters()">ANALYZE</button>
            <p>Analyzing semantics of sentences using ML.</p>
        </div>

        <div class="col-xs-12 col-md-3 intro-column">
            <button class="btn btn-default btn-lg col-xs-12" id="btnClustersMenu" type="button" onclick="showCluters()">CLUSTERS</button>
            <p>Displaying analyzed clusters.</p>
        </div>

        <div class="col-xs-12 col-md-3 intro-column">
            <button class="btn btn-default btn-lg col-xs-12" id="btnInquireMenu" type="button" onclick="showInquire()">INQUIRE</button>
            <p>Finding and displaying answers for inquiry.</p>
        </div>
    </div>

    <div class="row row-boxed" id="convertForm" style="border-top-style: none">
        <div class="row" style="border-style: none">
            <div class="container col-xs-12 col-md-12">
                <h4>Enter original sentences.</h4>
                <textarea class="form-control text-area" id="inputOriginSentences" name="inputOriginSentences"
                          placeholder="ex) The vehicle has an electronic shift position indicator within the instrument cluster."
                          rows="8" ></textarea>
            </div>
            <div class="col-xs-12 col-md-8">
                <label >Section: </label>
                <input id="inputSection" type="text" class="form-control"/>
            </div>
            <div class="col-xs-12 col-md-4">
                <label >Page Num: </label>
                <input id="inputPage" type="number" class="form-control" min="0" max="100000"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <button id="btnConvert" class="btn btn-primary btn-lg col-xs-offset-4 col-xs-4">Convert to Tokens and Tags</button>
        </div>

        <div><br/><br/></div>

        <div class="row convertedSentencesContainer">
            <div class="container col-xs-12">
                <h4>Convert Result as Language Elements.</h4>
            </div>
            <div class="convertedSentences ex-convertedSentences container col-xs-12">
                <p><b class="sentenceNum">Sentence #0: </b><span class="sentenceText">The vehicle has an electronic shift position indicator within the instrument cluster.</span>&nbsp;&nbsp;<!--button class="btn btn-danger btn-sm">Delete</button--></p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 80%;">Token (Element)</th>
                        <th style="width: 20%;">Tag (Type)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="ex-tr" style="display: none;">
                        <td class="td-form"><input type="text" class="inputToken" /></td>
                        <td class="td-form">
                            <!--select class="inputTag">
                                <option value="agent"> agent</option>
                                <option value="predicate"> Predicate</option>
                                <option value="tense"> Tense</option>
                                <option value="target 1"> Target 1</option>
                                <option value="target 2"> Target 2</option>
                                <option value="feature"> Feature</option>
                                <option value="time"> Time</option>
                                <option value="space"> Space</option>
                                <option value="move-cmp"> Move-Cmp</option>
                                <option value="goal-cmp"> GoalCmp</option>
                                <option value="att-cmp"> AttCmp</option>
                                <option value="obt-cmp"> ObtCmp</option>
                            </select-->
                            <input type="text" class="inputTag" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row formalExpressionContainer " style="border-style: none">
            <div class="container">
                <h4>Sentence in Formal Expressions</h4>
            </div>
            <div class="col-xs-12 col-md-12 formalExpressionDiv">
                <div class="formalExpression ex-formalExpression">
                    <textarea class="form-control text-area"
                              placeholder="agent/The engine, predicate/start, ...." rows="3"></textarea>
                    <br/>
                </div>
            </div>
        </div>
    </div>


    <div class="row row-boxed" id="inquireForm" style="border-top-style: none">
        <div class="row" style="border-style: none">
            <div class="container col-xs-12 col-md-12">
                <h4>Enter an inquiry.</h4>
                <textarea class="form-control text-area" id="inquirySentence" name="inquirySentence"
                          placeholder="ex) The engine does not start."
                          rows="3"></textarea>
            </div>
        </div>
        <div class="row">
            <button id="btnConvertInquire" class="btn btn-primary btn-lg col-xs-offset-4 col-xs-4">Convert to Tokens and Tags</button>
        </div>
        <div><br/><br/></div>

        <div class="row convertedSentencesContainer">
            <div class="container col-xs-12">
                <h4>Convert Result as Language Elements.</h4>
            </div>
            <div class="convertedSentences ex-convertedSentences container col-xs-12">
                <p><b class="sentenceNum">Sentence #0: </b><span class="sentenceText">The vehicle has an electronic shift position indicator within the instrument cluster.</span>&nbsp;&nbsp;<!--button class="btn btn-danger btn-sm">Delete</button--></p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 80%;">Token (Element)</th>
                        <th style="width: 20%;">Tag (Type)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="ex-tr" style="display: none;">
                        <td class="td-form"><input type="text" class="inputToken" /></td>
                        <td class="td-form">
                            <input type="text" class="inputTag" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row formalExpressionContainer" style="border-style: none">
            <div class="container">
                <h4>Inquiry in Formal Expressions</h4>
            </div>
            <div class="col-xs-12 col-md-12 formalExpressionDiv">
                <div class="formalExpression ex-formalExpression">
                    <textarea class="form-control text-area"
                              placeholder="agent/The engine, predicate/start, ...." rows="3"></textarea>
                    <br/>
                </div>
            </div>
        </div>

        <div class="row answerButtonContainer">
            <button id="btnAnswer" class="btn btn-primary btn-lg col-xs-offset-4 col-xs-4">Find Answer</button>
        </div>
        <div><br/></div>

        <div class="row answerSentenceContainer" style="border-style: none">
            <div class="container col-xs-12">
                 <h4>Answers</h4>
            </div>
            <div class="container col-xs-12 col-md-12 answerContainer ex-answerContainer">
                <p><b class="answerNum">Answer #0:</b></p>
                <textarea class="form-control text-area "
                          rows="3"></textarea>
            </div>
        </div>

        <!--div class="row">
            <button id="btnConvertInquire" class="btn btn-primary btn-lg col-xs-offset-4 col-xs-4">Convert to Tokens and Tags</button>
        </div>
        <div><br/><br/></div-->
    </div>

    <div class="row row-boxed" id="clusterForm" style="border-top-style: none">
        <div class="row clustersContainer">
            <div class="container col-xs-12">
                <h4>Clusters</h4>
            </div>
            <div class="clusters ex-clusters container col-xs-12">
                <p><b class="clusterNum">Cluster #0 </b></p>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 10%;">ID</th>
                        <th style="width: 90%;">Sentence</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="ex-tr">
                        <td class="td-form"><input type="number" class="inputSentId" /></td>
                        <td class="td-form"><input type="text" class="inputSentence" /></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- scripts -->
<script src="{% static "lib/jquery/jquery-2.2.0.min.js" %}"></script>
<script src="{% static "lib/bootstrap-origin/js/bootstrap.min.js" %}"></script>
<script src="{% static "lib/jquery/plugins/loadingoverlay.min.js" %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static "lib/bootstrap-origin/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>




</body>
</html>

